<%- include('template/headWeb', {tituloWeb: 'Inicio'}); %> 
  <div class="container">
    <div class="row">
      <h2 class="blue-text text-darken-2 center-align"> Pagina de Inicio</h2>
      <div class="col s12">
        <div class="carousel">
          <div class="carousel-item"><img src="imgs/Carrousel1.jpg"></div>
          <div class="carousel-item"><img src="imgs/Carrousel2.jpg"></div>
          <div class="carousel-item"><img src="imgs/Carrousel3.jpg"></div>
          <div class="carousel-item"><img src="imgs/Carrousel4.jpg"></div>
        </div>
        <hr>
      </div>
      <div class="col s6">
        <div class="container">
          <h3> Practica #3</h3>
          <p>Sitio Web realizado con NodeJS (Express) - Materialize - Google Cloud</p>
        </div>
      </div>
      <div class="col s6">
        <div class="container">
          <div class="card small">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="imgs/developer.jpg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Despliegue en Nubes<i class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">EL uso de Nubes para despliegue.<i class="material-icons right">close</i></span>
              <p>Las aplicaciones de la nube son sistemas de software a los que los usuarios acceden principalmente a través de Internet.</p>
              <p>Esto significa que la gestión de al menos una parte de ellas está a cargo de un servidor, en lugar de los equipos locales de los usuarios. Con las estrategias de desarrollo de las aplicaciones en la nube, los equipos encargados de esta tarea pueden diseñar aplicaciones que brinden experiencias uniformes a los usuarios del frontend y a los equipos de operaciones del backend, en cualquier infraestructura de TI, ya sea física, virtual o de nube.</p> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<%- include('template/footerWeb'); %> 